.cabecalho, .rodape{
    background-color:#ffff99;
    border: none;
}
.cabecalho{
    margin: 0%;
    padding: 15px;
}
.cabecalho h1{
    color: darkgrey;
}
  

.navegation div {

    background-color: darkgoldenrod;
    margin-bottom: 2px;
    
  }
  
.container .navegation div a {
    color: white;
    padding: 14px;
    display: inline-block;
    border-right: 1px solid black ;
  }

.container .navegation div a:hover{
    text-decoration: underline;
}  


aside{ 
    float: right;

}

article{
    border-right: 6px solid green;
    float: left;
}

.rodape h4{
    text-decoration: solid;
    text-decoration-line: underline;
    font-size: larger;
    margin: 0%;
}

#empire_slogan{
    font-size:smaller;
    margin: 0%;
    float: left;
}
  