.cabecalho, .rodape{
    background-color:#ffff99;
    margin: 0%;
}
.cabecalho{
    margin: 0%;
    padding: 15px;
}
.cabecalho h1{
    color: darkgrey;
}
  

.navegation div {

    background-color: darkgoldenrod;
    margin-bottom: 2px;
    
  }
.navegation div a {
    color: white;
    padding: 14px;
    display: inline-block;
    border-right: 1px solid black ;
  }

  .vl {
    border-left: 6px solid green;
    height: 500px;
  }      

  aside{ 
    width: 30%;
    float: right;

}

article{
    width: 70%;
    float: left;
}

.rodape h4{
    text-decoration: solid;
    text-decoration-line: underline;
}

#empire_slogan{
    font-size:smaller;
}
  