<div >
    <header class="cabecalho">
        <h1>Ministério da Maracutaia</h1>
    </header>
    <nav class="navegation">
        <div class="nav">
            <div class="subnav">
                <button>sobre<i class="fa fa-caret-down"></i></button>
                <div class="subnav-content col-12">
                    <a href="#">Nossa História</a>
                    <a href="#">Hoje em dia</a>
                    <a href="#">Contato</a>
                </div> 
            </div>
            <a href="#">Ações</a>
            <a href="#">Doações</a>
        </div>
    </nav>
</div>
        
