.cabecalho, .rodape{
    background-color:#ffff99;
    border: none;
}
.cabecalho{
    margin: 0%;
    padding: 15px;
}
.cabecalho h1{
    color: darkgrey;
}


.navegation div {
    overflow: hidden;
    background-color: darkgoldenrod;
    margin-bottom: 2px;
    
    
  }
  
  .subnav button {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  } 
.navegation div a, .subnav button {
    color: white;
    padding: 14px;
    display: inline-block;
    border-right: 1px solid black ;
    text-decoration: none;
  }
  .navegation .subnav {
    float: left;
    overflow: hidden;
  }
  



.navegation div a:hover, .subnav:hover button{
    text-decoration: underline;
}
.subnav-content {
    display: none;
    position: absolute;

    z-index: 1;
  }
  


  .subnav:hover .subnav-content {
    display: block;
  } 
