<article class = "col-10">
    <div class="news">
        <h3 class="tytle" ><strong>Novo recorde de arrecadações batida</strong></h3>
        <div>Pelo 535º ano consecutivo o ministério da maracutaia bate recorde 
            de doações ao governo sendo novamente o ministério que mais arrecadou esse ano.</div>
    </div>
    <div class="news">
        <h3 class="tytle" ><strong>Mais de 300 pessoas presas ao evadir pedagio</strong></h3>
        <div>
            Só no ultimo final de semana mais de 300 pessoas foram presas ao tentarem evadir o pedágio nas auto estradas espaciais.
            <br> Descubra tudo sobre o golpe, os riscos, as recompensas e oque essas pessoas fizeram de errado.
        </div>
    </div>
    <div class="news">
        <h3 class="tytle" ><strong>Cuidado com o leão</strong></h3>
        <div>Com menos de 1 semana para o termino do prazo para a declaração do imposto, nós vamos te dar dicas para não ter uma surpresa mais tarde.</div>
    </div>
    <div class="news">
        <h3 class="tytle" ><strong>Teste retirar o strong depois</strong></h3>
        <div>Pelo 535º ano consecutivo o ministério da maracutaia bate recorde 
            de doações ao governo sendo novamente o ministério que mais arrecadou esse ano.</div>
    </div>
    <div class="news">
        <h3 class="tytle" ><strong>Teste retirar o strong depois</strong></h3>
        <div>Pelo 535º ano consecutivo o ministério da maracutaia bate recorde 
            de doações ao governo sendo novamente o ministério que mais arrecadou esse ano.</div>
    </div>
</article>
