<aside class="col-2">
    <div class="menu">
        <ul>
            <li>sobre
                <ul>
                    <li>Nossa História</li>
                    <li>Hoje em dia</li>
                    <li>Contato</li>
                </ul>
            </li>
            <li>
                Ações
            </li>
        </ul>
    </div>
    <div class="newsletter"> Assine a nossa newsLetter e fique informado sobre todas as novas formas de prevenção de golpe
        <label for="email_newsletter"> Email</label>
        <input type="email" name="email_newsletter" class="form-control"/>
        <input type="submit" name="submit_newsletter" class ="btn btn-primary"/>
</div> </aside>
